<div class="wordCard">
    <div class="wordCard-image">
        <img [src]="API_URL + word.image" alt="image">
    </div>
    <div class="wordCard-content">
        <div class="wordCard-header">
            <div class="wordCard-header__block">
                <div class="wordCard-header__container">
                    <div class="wordCard-header__panel">
                        <p class="wordCard-header__text">
                            {{ word.word }} - {{ word.transcription }}
                        </p>
                        <button 
                            mat-mini-fab 
                            color="primary"
                            (click)="this.audioPlayerService.newAudio([word.audio, word.audioMeaning, word.audioExample])">
                            <mat-icon>volume_up</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="tokenStorageService.getToken()" class="wordCard-header__btns">
                       <button 
                            class="dictionary__btn" 
                            mat-stroked-button 
                            color="primary"
                            (click)="this.wordService.isHardWord(word)"
                        >
                            <mat-icon>done</mat-icon> is hard
                        </button>
                        <button 
                            class="dictionary__btn" 
                            mat-stroked-button 
                            color="primary"
                            (click)="this.wordService.addLearnedWord(word)"
                        >
                            <mat-icon>done</mat-icon> Studied
                        </button>
                            <button 
                                class="dictionary__btn" 
                                mat-stroked-button 
                                color="primary"
                                (click)="this.wordService.addHardWord(word)"
                            >
                                <mat-icon>school</mat-icon> Mark as Hard
                            </button>  
                       <!--  <div *ngIf="this.wordService.isHardWord(word); else add">
                            <button 
                                class="dictionary__btn" 
                                mat-stroked-button 
                                color="primary"
                                (click)="this.wordService.addHardWord(word)"
                            >
                                <mat-icon>school</mat-icon> Unmark as Hard
                            </button>
                        </div>
                        <ng-template #add>
                            <button 
                                class="dictionary__btn" 
                                mat-stroked-button 
                                color="primary"
                                (click)="this.wordService.addHardWord(word)"
                            >
                                <mat-icon>school</mat-icon> Mark as Hard
                            </button>
                        </ng-template> -->
                    </div>  
                </div>
                <h3 class="wordCard-header__title">
                    {{word.wordTranslate}}
                </h3>
            </div>
        </div>
        <div class="wordCard-footer">
            <div class="wordCard-footer__block">
                <p class="wordCard-footer__text" [innerHTML]="word.textMeaning"></p>
                <p class="wordCard-footer__subtext">
                    <mat-icon>subdirectory_arrow_right</mat-icon>
                    {{word.textMeaningTranslate}}
                </p>
            </div>
            <div class="wordCard-footer__block">
                <p class="wordCard-footer__text" [innerHTML]="word.textExample">
                </p>
                <p class="wordCard-footer__subtext">
                    <mat-icon>subdirectory_arrow_right</mat-icon>
                    {{word.textExampleTranslate}}
                </p>
            </div>
        </div>
    </div>
</div>