<div class="wordCard">
    <div class="wordCard-image">
        <img src="../../assets/images/mood.jpg" alt="image">
    </div>
    <div class="wordCard-content">
        <div class="wordCard-header">
            <div class="wordCard-header__block">
                <div class="wordCard-header__container">
                    <div class="wordCard-header__panel">
                        <p class="wordCard-header__text">
                            word - transcription 
                        </p>
                        <button mat-mini-fab aria-label="Example icon-button with a heart icon" color="primary">
                            <mat-icon>volume_up</mat-icon>
                        </button>
                    </div>
                    <div class="wordCard-header__btns">
                        <button class="dictionary__btn" mat-stroked-button color="primary">
                            <mat-icon>done</mat-icon> Studied
                        </button>
                        <button class="dictionary__btn" mat-stroked-button color="primary">
                            <mat-icon>school</mat-icon> Mark as Hard
                        </button>
                    </div> 
                </div>
                
                <h3 class="wordCard-header__title">
                    wordTranslate
                </h3>
            </div>
        </div>
        <div class="wordCard-footer">
            <div class="wordCard-footer__block">
                <p class="wordCard-footer__text">
                    textMeaning
                </p>
                <p class="wordCard-footer__subtext">
                    <mat-icon>subdirectory_arrow_right</mat-icon>
                    textMeaningTranslate
                </p>
            </div>
            <div class="wordCard-footer__block">
                <p class="wordCard-footer__text">
                    textExample
                </p>
                <p class="wordCard-footer__subtext">
                    <mat-icon>subdirectory_arrow_right</mat-icon>
                    textExampleTranslate
                </p>
            </div>
        </div>
    </div>
</div>
