<div class="wordCard">
    <div class="wordCard-header">
        <div class="wordCard-header__block">
            <h3 class="wordCard-header__title">
                word
            </h3>
            <div class="wordCard-header__panel">
                <p class="wordCard-header__text">
                    wordTranslate
                </p>
                <button mat-mini-fab aria-label="Example icon-button with a heart icon" color="primary">
                    <mat-icon>volume_up</mat-icon>
                </button>
                <p class="wordCard-header__text">
                    transcription
                </p>
            </div>
        </div>
    </div>
    <div class="wordCard-footer">
        <div class="wordCard-footer__block">
            <p class="wordCard-footer__text">
                textMeaning
            </p>
            <p class="wordCard-footer__text">
                textMeaningTranslate
            </p>
        </div>
        <hr class="wordCard-footer__line">
        <div class="wordCard-footer__block">
            <p class="wordCard-footer__text">
                textExample
            </p>
            <p class="wordCard-footer__text">
                textExampleTranslate
            </p>
        </div>
    </div>
  </div>
