<div class="wordCard">
    <div class="wordCard-image">
        <img [src]="API_URL + word.image" alt="image">
    </div>
    <div class="wordCard-content">
        <div class="wordCard-header">
            <div class="wordCard-header__block"
                [ngClass]="{'is-hard-word': this.wordService.isHardWord(word), 'is-learned-word': this.wordService.isLearnedWord(word) }">
                <div class="wordCard-header__container">
                    <button class="wordCard-header__audio-btn"
                        (click)="this.audioPlayerService.newAudio([word.audio, word.audioMeaning, word.audioExample])">
                        <img [src]="AUDIO_ICON_URL" alt="">
                    </button>
                    <div class="wordCard-header__panel">
                        <h3 class="wordCard-header__title">
                            {{word.word}}
                        </h3>
                        <p class="wordCard-header__transcription">
                            {{ word.transcription }}
                        </p>
                        <p class="wordCard-header__translate">
                            {{ word.wordTranslate }}
                        </p>
                    </div>
                    <div class="wordCard-folder-icon">
                        <svg
                            [innerHTML]="this.svgService.getFolderIcon(this.dictionaryComponent.folderColors[word.group])"></svg>
                    </div>
                    <div *ngIf="tokenStorageService.getToken()" class="wordCard-header__btns">
                        <div *ngIf="this.wordService.isLearnedWord(word); else add">
                            <button class="wordCard__btn is-disabled" matTooltip="Изучено">
                                <svg [innerHTML]="svgService.getLernedIcon()"></svg>
                            </button>
                        </div>
                        <ng-template #add>
                            <button class="wordCard__btn" (click)="this.wordService.addLearnedWord(word)" matTooltip="Добавить в изученное">
                                <svg [innerHTML]="svgService.getNotLernedIcon()"></svg>
                            </button>
                        </ng-template>
                        <div *ngIf="this.wordService.isHardWord(word) && !this.dictionaryComponent.isHardWordsPage">
                            <button class="wordCard__btn is-disabled" matTooltip="Сложное">
                                <svg [innerHTML]="svgService.getHardWordIcon()"></svg>
                            </button>
                        </div>
                        <div *ngIf="!this.wordService.isHardWord(word)">
                            <button class="wordCard__btn" (click)="this.wordService.addHardWord(word)" matTooltip="Добавить в сложное">
                                <svg [innerHTML]="svgService.getNotHardWordIcon()"></svg>
                            </button>
                        </div>
                        <div *ngIf="this.wordService.isHardWord(word) && this.dictionaryComponent.isHardWordsPage">
                            <button class="wordCard__btn" (click)="this.wordService.addInProgressWord(word)" matTooltip="Удалить из сложного">
                                <svg [innerHTML]="svgService.getRemoveHardWordIcon()"></svg>
                            </button>
                        </div>
                        <button class="wordCard__btn statistic__btn is-disabled" matTooltip="Прогресс изучения">
                            <svg *ngIf="this.wordService.isProgressWord(word.id); else notProgressWord" [innerHTML]="svgService.getStatisticIcon()"></svg>
                            <ng-template #notProgressWord>
                                <svg [innerHTML]="svgService.getNoStatisticIcon()"></svg>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="wordCard-footer">
            <div class="wordCard-footer__block">
                <p class="wordCard-footer__text" [innerHTML]="word.textMeaning"></p>
                <p class="wordCard-footer__subtext">
                    {{word.textMeaningTranslate}}
                </p>
            </div>
            <div class="wordCard-footer__block">
                <p class="wordCard-footer__text" [innerHTML]="word.textExample">
                </p>
                <p class="wordCard-footer__subtext">
                    {{word.textExampleTranslate}}
                </p>
            </div>
        </div>
    </div>
</div>
