<div class="login-container">
    <h3 class="login-container__title">Log in to your account</h3>
    <hr class="login-container__line">
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input 
                type="email" 
                class="form-input" 
                name="email" 
                [(ngModel)]="form.email" 
                required 
                #email="ngModel" 
                placeholder="your email" 
            />
            <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                Email is required!
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input 
                type="password" 
                class="form-input" 
                name="password" 
                [(ngModel)]="form.password" 
                required minlength="8"
                #password="ngModel" 
                placeholder="your password" 
            />
            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors?.['required']">Password is required</div>
                <div *ngIf="password.errors?.['minlength']">
                    Password must be at least 6 characters
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="login-container__button" mat-stroked-button color="primary">Sign In</button>
        </div>
        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                Incorrect e-mail or password
            </div>
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
        You have successfully logged in
    </div>
    <hr class="login-container__line">
    <div class="login-container__account"> Don`t have an account? Create new!</div>
    <button mat-mini-fab [routerLink]="['/', paths.Register]" color="primary">
        <mat-icon>person_add</mat-icon>
    </button>
</div>