@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.material-icons{
  font-family: 'Material Icons' !important;
}

$white: antiquewhite;
$gray: #cccccc;
$correct: greenyellow;
$negative:crimson;
$blue: #8efff9;
$greenScroll: #49a174;
$green: linear-gradient(120deg, #1e6742 0%, #49a174 100%);

%font40 {
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}
%font30 {
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}
%actionBtn {
  font-family: 'Play', sans-serif;
  padding: 10px 50px;
  font-size: 24px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in;
  margin-top: 1rem;
}
%flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

.main-container {
  margin: 0 auto;
  padding: 20px 200px;
  min-height: 88.9vh;
  background-color: #F7F6F0;
  background-image: url(/assets/images/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.start-wrapper {
  z-index: 3;
  display: none;
  margin: 0 auto;
  margin-top: 5%;
  width: 1000px;
  height: 500px;
  &.active {
    display: block;
  }
}

.start-screen {
  border-radius: 10px;
  @extend %flexColumn;
  transition: margin 0.5s ease-out;
  background: $green;
  padding: 0 1rem;
  color: $white;
  h1 {
    line-height: 1;
    font-size: 3rem;
    margin: 1rem;
  }
  p {
    font-size: 24px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
    li {
      margin: 10px;
      button {
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
        cursor: pointer;
        padding: .5rem 1rem;
        font-size: 1.3rem;
        transition: all .2s ease-in;
        &:hover {
          border: 2px solid $blue;
          color: $blue;
        }
      }
    }
  }
}

.game-window {
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  &.active {
    display: block;
  }
}

.modal-content {
  background: $green;
  @extend %flexColumn;
  width: 550px;
  height: 470px;
  border-radius: 10px;
  margin: 0 auto; 
  margin-top: 1%;
  text-align: center;
  color: $white;
  p {
    font-size: 24px;
  }
}

.line {
  width: 20rem;
  border: none;
  background-color: $white;
  height: 1px;
}

.modal-title {
  @extend %font40;
}

.modal-subtitle {
  @extend %font30;
  margin: 0 auto;
}

.board-btns {
  display: flex;
  gap: 1.5rem;
}

.btn-try-again {
  background-color: $blue;
  @extend %actionBtn;
  &:hover {
    background-color: $white;
    color: #16D9E3;
  }
}

.btn-true {
  background: $correct;
  &:hover {
    color: $correct;
  }
}

.btn-false {
  background: $negative;
  &:hover {
    color: $negative;
  }
}

.table-page {
  margin-top: 1rem;
  height: 200px;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 0 0.7rem;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 80px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 80px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: $greenScroll;
  }
  table, th, td {
    border: 2px solid $white;
    color: white;
    tr {
      margin: 2px;
      td {
        text-align: center;
        padding: 0.5rem;
        button {
          background-color: $greenScroll;
          color: $white;
          cursor: pointer;
          transition: all .2s ease-in;

          &:hover {
            background-color: $white;
            color: $greenScroll;
          }
        }
      }
    }
  }
}

#answers-tracker {
  padding-top: 15px;
  div {
    height:  2.5rem;
    width: 2.5rem;
    background-color: $gray;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    &.correct {
      background-color: $correct;
    }
  }
}

.correct-icon {
  color: $correct;
}

.wrong-icon {
  color: $negative;
}