<div class="team-wrapper">
    <div class="team-container">
        <h1 class="team-container__title">
            Мы это сделали :)
        </h1>
        <div class="team-content">
            <div class="team-mentor">
                <div class="team-mentor__photo"></div>
                <div class="team-mentor__text">
                    <a class="team-mentor__link" href="https://github.com/papkovskaya" target="_blank">
                        <img class="team-mentor__icon" src="./assets/svg/mentor-icon.svg" alt="github icon">
                        <h2 class="team-mentor__name">Ольга</h2>
                    </a>
                    <p class="team-mentor__role">Ментор</p>
                </div>
            </div>
            <div class="team-content__members">
                <div class="team-member">
                    <div class="team-member__photo artem"></div>
                    <div class="team-member__text">
                        <a class="team-member__link" href="https://github.com/daironsib" target="_blank">
                            <img class="team-member__icon" src="./assets/svg/member-icon.svg" alt="github icon">
                            <h2 class="team-member__name">Артем</h2>
                        </a>
                        <p class="team-member__role">Тимлид, разработал архитектуру приложения и руководил командой. 
                            Развернул полностью бэк-энд приложения. Настроил аутентификацию и разработал игру Аудиовызов. 
                            Разработал статистику приложения.
                        </p>
                    </div>
                </div>
                <div class="team-member">
                    <div class="team-member__photo pavel"></div>
                    <div class="team-member__text">
                        <a class="team-member__link" href="https://github.com/PavelTitov16" target="_blank">
                            <img class="team-member__icon" src="./assets/svg/member-icon.svg" alt="github icon">
                            <h2 class="team-member__name">Павел</h2>
                        </a>
                        <p class="team-member__role">
                            Разработал роутинг приложения, учебник и игру Спринт. Участвовал в дизайне приложения и 
                            в работе над статистикой. Вёл таск-менеджмент.
                        </p>
                    </div>
                </div>
                <div class="team-member">
                    <div class="team-member__photo anna"></div>
                    <div class="team-member__text">
                        <a class="team-member__link" href="https://github.com/annabutkova" target="_blank">
                            <img class="team-member__icon" src="./assets/svg/member-icon.svg" alt="github icon">
                            <h2 class="team-member__name">Анна</h2>
                        </a>
                        <p class="team-member__role">
                            Разработала дизайн приложения и логику работы учебника. Разработала страницу статистики и логику 
                            ее работы с данными из бэк-энда. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
