<div class="audio-game">
  <div *ngIf="currentSlide === 1" class="screen1">
    <h1>Аудиовызов</h1>
    <div class="audio-game__text">
      <h2>«Аудиовызов» - это тренировка, которая улучшает восприятие речи на слух.</h2>
      <ul>
        <li>Используйте мышь, чтобы выбрать.</li>
        <li>Используйте цифровые клавиши от 1 до 5 для выбора ответа</li>
        <li>Используйте пробел для повтроного звучания слова</li>
        <li>Используйте клавишу Enter для перехода к следующему слову</li>
      </ul>
      <div class="audio-game__2-cols">
        <form class="audio-game__form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <select name="difficulty">
            <option value="1">Сложность 0</option>
            <option value="2" selected>Сложность 1</option>
            <option value="3">Сложность 2</option>
            <option value="4">Сложность 3</option>
            <option value="5">Сложность 4</option>
            <option value="6">Сложность 5</option>
          </select>
          <button>СТАРТ</button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="currentSlide === 2" class="screen2">
    <app-audio-game-item *ngIf="words.length !== 0" [word]="words[currentIndexWord]" [variants]="variantWords" (buttonClick)="checkVariant($event)"></app-audio-game-item>
    <button (click)="dontKnow()">Не знаю</button>
  </div>
  <div *ngIf="currentSlide === 3" class="screen3">
    <h2>Результаты</h2>
    <h3 class="alert alert-success">Верные ответы ({{ goodWords.length }})</h3>
    <ul>
      <li *ngFor="let goodWord of goodWords; let i = index">
        <button mat-mini-fab color="primary" (click)="this.audioPlayerService.newAudio([goodWord.audio])">
          <mat-icon>volume_up</mat-icon>
        </button>
        {{ goodWord.word }} - {{ goodWord.wordTranslate }}
      </li>
    </ul>
    <h3 class="alert alert-danger">Ошибки ({{ badWords.length }})</h3>
    <ul>
      <li *ngFor="let badWord of badWords; let i = index">
        <button mat-mini-fab color="primary" (click)="this.audioPlayerService.newAudio([badWord.audio])">
          <mat-icon>volume_up</mat-icon>
        </button>
        {{ badWord.word }} - {{ badWord.wordTranslate }}
      </li>
    </ul>

    <button (click)="resetGame()" class="mt20">Играть еще раз</button>
  </div>
</div>
