button {
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #24282C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
        
    svg {
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }
}

.dictionary-container {
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
}

.dictionary-header {
    display: flex;
    justify-content: space-between;
}

.dictionary-container__btns {
    display: flex;
    gap: 0.5rem;
}

.dictionary__hard-btn {
    width: 155px;
    height: 44px;
    background: #E9E9E3;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 20px;
}

.dictionary-body {
    padding: 30px;
}

.dictionary-select {
    width: 172px;
    height: 44px;
    background: #F7F6F0;
    border: 2px solid #24282C;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #24282C;
}

.dictionary-select__option {
    display: flex;
}
.dictionary-select__option svg {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}