.dictionary-container {
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
}

.dictionary-header {
    display: flex;
    justify-content: space-between;
}

.dictionary-container__btns {
    display: flex;
    gap: 5px;
}

.dictionary__btn {
    border: 2px solid #7b1fa2;
    transition: 0.3s ease-in-out;
}

.dictionary__btn:hover {
    background-color: #7b1fa2;
    color: white;
}