<div class="statistic-container">
    <h3 class="statistic-container__title">Прогресс</h3>
    <div class="statistic-overall">
        <h5>Общая статистика</h5>
        <div class="statistic-overall__table">
            <div class="statistic-cell">
                <span class="big-digit green-digit">
                    249
                </span>
                <p>Новых слов за день</p>
            </div>
            <div class="statistic-cell">
                <span class="big-digit green-digit">
                    36
                </span>
                <p>Изученных слов за день</p>
            </div>
            <div class="statistic-cell">
                <span class="big-digit green-digit">
                    89%
                </span>
                <p>Правильных ответов за день</p>
            </div>
        </div>
    </div>
    <div class="statistic-games">
        <div class="statistic-games__table">
            <h5>Спринт</h5>
            <div class="statistic-cell">
                <span class="big-digit">
                    105
                </span>
                <p>Новых слов за день</p>
            </div>
            <div class="statistic-cell">
                <span class="big-digit">
                    9
                </span>
                <p>Самая длинная серия правильных ответов</p>
            </div>
            <div class="statistic-cell">
                <span class="big-digit">
                    83%
                </span>
                <p>Правильных ответов</p>
            </div>
        </div>
        <div class="statistic-games__table">
            <h5>Аудиовызов</h5>
            <div class="statistic-cell">
                <span class="big-digit">
                    144
                </span>
                <p>Новых слов за день</p>
            </div>
            <div class="statistic-cell">
                <span class="big-digit">
                    16
                </span>
                <p>Самая длинная серия правильных ответов</p>
            </div>
            <div class="statistic-cell">
                <span class="big-digit">
                    96%
                </span>
                <p>Правильных ответов</p>
            </div>
        </div>
    </div>
</div>
