@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

$light: #F7F6F0;
$dark: #24282C;
$green: #D3F36B;
$modal: #E9E9E3;
$hoverBtn: #3F4850;
%font80 {
  font-family: 'Anonymous Pro', monospace;
  font-style: bold;
  font-size: 80px;
  line-height: 80px;
  color: $dark;
}
%font20 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: $dark;
}
%button {
  background-color: $dark;
  color: $light;
  width: 151px;
  height: 50px;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.main-container {
  background-color: $light;
}

.hero-section__block {
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
}

.hero-text__image {
  background: url('../../../../assets/images/goals.png');
  width: 440px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-section__image {
  background: url('../../../../assets/images/hero.png');
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text__content {
  padding: 20px 0;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  h1 {
    @extend %font80;
  }

  p {
    @extend %font20;
  }

  button {
    @extend %button;

    &:hover {
      background: $hoverBtn;
    }
  }
  mat-icon {
    color: $green;
  }
}

.about-section {
  height: 840px;
  background-color: $dark;
}

.about-section__triangle {
  padding: 60px 220px 40px 220px;
}

.about-section__content {
  z-index: 3;
  margin: 0 auto;
  max-width: 1000px;
  height: 700px;
  background-color: $modal;
  border-radius: 70px;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  h2 {
    @extend %font80;
  }

  button {
    @extend %button;
    width: 200px;

    &:hover {
      background: $hoverBtn;
    }
  }

  p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: $dark;

    span {
      text-decoration: underline;
    }
  }

  p:last-of-type  {
    @extend %font20;
  }
  
  mat-icon {
    color: $green;
  }
}

@media (max-width: 1400px) {
  .hero-section__image {
    width: 400px;
    height: 400px;
  }

  .hero-text__image {
    width: 300px;
  }

  .hero-text__content {
    padding: 10px 0;
    width: 400px;
    height: 300px;

    h1 {
      font-size: 60px;
      line-height: 60px;
    }

    p {
      font-size: 18px;
      line-height: 18px;
    }
  }
  
  .about-section {
    height: 620px;
  }

  .about-section__content {
    max-width: 1000px;
    height: 500px;
    padding: 38px 30px;
    gap: 20px;

    h2 {
      font-size: 60px;
      line-height: 60px;
      padding: 0 100px;
    }

    p {
      font-size: 26px;
      line-height: 44px;
    }
  }
}

@media (max-width: 1200px) {
  .hero-section__block {
    padding: 20px 100px;
  }

  .about-section__triangle {
    padding: 60px 110px 40px 110px;
  }
}

@media (max-width: 1000px) {
  .hero-section__image {
    width: 350px;
    height: 350px;
  }

  .hero-text__image {
    width: 300px;
  }

  .hero-text__content {
    padding: 10px 0;
    width: 300px;
    height: 260px;

    h1 {
      font-size: 40px;
      line-height: 40px;
    }

  }
  
  .about-section {
    height: 500px;
  }

  .about-section__content {
    height: 400px;
    padding: 20px 50px;
    gap: 20px;

    h2 {
      font-size: 40px;
      line-height: 40px;
      padding: 0 100px;
    }

    p {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (max-width: 850px) {
  .hero-section__block {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-section__image {
    width: 500px;
    height: 500px;
  }

  .hero-text__image {
    width: 440px;
    height: 80px;
  }

  .hero-text__content {
    width: 500px;
    height: 400px;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 80px;
      line-height: 80px;
    }
  
    p {
      font-size: 20px;
      line-height: 29px;
    }

    button {
      width: 350px;
    }
  }
  
  .about-section {
    height: 500px;
  }

  .about-section__content {
    height: 400px;
    padding: 20px;
    gap: 20px;

    h2 {
      font-size: 40px;
      line-height: 40px;
      padding: 0 50px;
    }

    p {
      font-size: 20px;
      line-height: 20px;
    }

    button {
      width: 350px;
    }
  }
}

@media (max-width: 690px) {
  .hero-section__block {
    padding: 20px 50px;
  }

  .about-section__triangle {
    padding: 30px 50px 20px 50px;
  }
}

@media (max-width: 570px) {
  .hero-section__image {
    width: 350px;
    height: 350px;
  }

  .hero-text__image {
    width: 300px;
  }

  .hero-text__content {
    padding: 10px 0;
    width: 300px;
    height: 300px;

    h1 {
      font-size: 55px;
      line-height: 44px;
    }

    p {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .about-section {
    height: 400px;
  }

  .about-section__content {
    height: 350px;
    gap: 0;

    h2 {
      font-size: 40px;
      line-height: 44px;
      padding: 0;
    }

    p {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media (max-width: 490px) {
  .about-section__content {
    height: 350px;

    h2 {
      font-size: 30px;
      line-height: 30px;
    }

    button {
      width: 250px;
    }
  }
}

@media (max-width: 405px) {
  .hero-section__image {
    width: 300px;
    height: 300px;
  }

  .hero-text__content {
    padding: 10px;
    
    h1 {
      font-size: 44px;
      line-height: 44px;
    }

    button {
      width: 250px;
    }
  }

  .about-section__triangle {
    padding: 20px 10px 10px 10px;
  }

  .about-section__content {
    padding: 20px 10px;
    height: 300px;
    
    h2 {
      padding: 0 10px;
    }

    p:last-of-type  {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
