<div class="main-screen">
    <h1 class="app-title">RSLang</h1>
    <h3 class="app-slogan">Play&Learn</h3>
</div>

<main class="main">
    <div class="advantages">
        <div class="advantage">
            <span>3600</span>
            <p>words</p>
        </div>
        <div class="advantage">
            <span>free</span>
            <p>access</p>
        </div>
        <div class="advantage">
            <span>learn</span>
            <p>while playing</p>
        </div>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit excepturi fugit mollitia. Vitae inventore
        dolorem odio neque voluptatum exercitationem provident dolor veritatis ducimus beatae voluptates quo eum at
        repudiandae sunt, deserunt assumenda alias hic vel eligendi cupiditate. Molestias architecto excepturi unde
        dolorem. Accusantium reiciendis ipsum dolorum tenetur necessitatibus voluptatibus, rerum, officia saepe, alias
        asperiores eos? Dicta laboriosam debitis voluptates praesentium numquam nam perferendis accusantium, vitae
        excepturi facilis sequi quo, consequuntur eos fugit perspiciatis tempore neque cumque minus repellendus
        consectetur nihil?</p>
</main>