.main {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  font-size: 14px;
}

.main-screen {
  padding: 5% 0;
}

.app-title {
  font-size: 8em;
  line-height: 150%;
  text-align: center;
}

.app-slogan {
  text-align: center;
  font-size: 4em;
  font-weight: 100;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantage {
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: 6px solid #7b1fa2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advantage span {
  font-weight: 900;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 120%;
}

.advantage p {
  font-size: 2em;
}

.about_text {
  text-align: center;
  margin: 10% auto;
  max-width: 70%;
  font-size: 1.5em;
  line-height: 150%;
}

.about_games h2 {
  font-size: 4em;
  line-height: 120%;
  text-align: center;
  margin-bottom: 1em;
}

.about_game-card {
  display: flex;
  height: 400px;
  width: 100%;
  margin-bottom: 10%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px;
}

.about_game-image {
  max-width: 50%;
  display: flex;

  img {
    height: 100%;
    width: auto;
  }
}

.about_game-card:nth-child(2n) {
  margin-left: auto;
  text-align: right;

  .about_game-image {
    justify-content: end;
  }

  .about_play-btn {
    margin-left: auto;
  }
}

.about_game-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 500px;

  p {
    font-size: 2em;
    line-height: 120%;
  }
}

.about_game-title {
  font-size: 3em;
  margin-bottom: 1em;
}

.about_play-btn {
  margin-top: auto;
  width: 120px;
  text-transform: uppercase;
}

.about_team {
  margin: 10% auto;

  h2 {
    font-size: 4em;
    line-height: 120%;
    text-align: center;
    margin-bottom: 1em;
  }
}

.about_team-members {
  display: flex;
}

.about_team-member {
  margin-right: 2em;

  &:last-child {
    margin-right: 0;
  }
}

.about_member-name {
  text-align: center;
}

.about_member-gh {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
