<div class="main-screen">
    <h1 class="app-title">RSLang</h1>
    <h3 class="app-slogan">Play&Learn</h3>
</div>

<main class="main">
    <div class="advantages">
        <div class="advantage">
            <span>3600</span>
            <p>words</p>
        </div>
        <div class="advantage">
            <span>free</span>
            <p>access</p>
        </div>
        <div class="advantage">
            <span>learn</span>
            <p>while playing</p>
        </div>
    </div>
    <p class="about_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit excepturi fugit mollitia.
        Vitae inventore
        dolorem odio neque voluptatum exercitationem provident dolor veritatis ducimus beatae voluptates quo eum at
        repudiandae sunt, deserunt assumenda alias hic vel eligendi cupiditate. Molestias architecto excepturi unde
        dolorem. Accusantium reiciendis ipsum dolorum tenetur necessitatibus voluptatibus, rerum, officia saepe, alias
        asperiores eos?</p>
    <div class="about_games">
        <mat-card class="about_game-card">
            <div class="about_game-info">

                <mat-card-title class="about_game-title">Audio challenge</mat-card-title>

                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis atque eaque eveniet laboriosam
                        a
                        suscipit.
                    </p>
                </mat-card-content>

                <button class="about_play-btn" mat-raised-button color="primary">Play</button>

            </div>
            <div class="about_game-image">
                <img src="./assets/kid.jpg" alt="">
            </div>
        </mat-card>
        <mat-card class="about_game-card">
            <div class="about_game-image">
                <img src="./assets/audio.jpg" alt="">
            </div>
            <div class="about_game-info">

                <mat-card-title class="about_game-title">Let's Sprint!</mat-card-title>

                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis atque eaque eveniet laboriosam
                        a
                        suscipit.
                    </p>
                </mat-card-content>

                <button class="about_play-btn" mat-raised-button color="primary">Play</button>

            </div>
        </mat-card>
    </div>
    <div class="about_team">
        <h2>Our team</h2>
        <div class="about_team-members">
            <mat-card class="about_team-member">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title class="about_member-name">Shiba Inu</mat-card-title>
                    <a href="" class="about_member-gh">github</a>
                    <ol class="about_member-task">
                        <li>Страница регистрации и логина</li>
                        <li>Страница "Статистика"</li>
                        <li>Игра "Спринт"</li>
                        <li>Создание API</li>
                    </ol>
                </mat-card-content>
            </mat-card>
            <mat-card class="about_team-member">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title class="about_member-name">Shiba Inu</mat-card-title>
                    <a href="" class="about_member-gh">github</a>
                    <ol class="about_member-task">
                        <li>Страница регистрации и логина</li>
                        <li>Страница "Статистика"</li>
                        <li>Игра "Спринт"</li>
                        <li>Создание API</li>
                    </ol>
                </mat-card-content>
            </mat-card>
            <mat-card class="about_team-member">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title class="about_member-name">Shiba Inu</mat-card-title>
                    <a href="" class="about_member-gh">github</a>
                    <ol class="about_member-task">
                        <li>Страница регистрации и логина</li>
                        <li>Страница "Статистика"</li>
                        <li>Игра "Спринт"</li>
                        <li>Создание API</li>
                    </ol>
                </mat-card-content>
            </mat-card>
            <mat-card class="about_team-member">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title class="about_member-name">Shiba Inu</mat-card-title>
                    <a href="" class="about_member-gh">github</a>
                    <ol class="about_member-task">
                        <li>Страница регистрации и логина</li>
                        <li>Страница "Статистика"</li>
                        <li>Игра "Спринт"</li>
                        <li>Создание API</li>
                    </ol>
                </mat-card-content>
            </mat-card>
        </div>


    </div>


</main>