$dark: #24282C;
$light: #F7F6F0;
$green: #D3F36B;

.footer {
  width: 100%;
  background-color: $dark;
  height: 72px;
  margin-top: auto;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 10px 200px;
  background-color: $dark;
}

.footer-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 20px;
  line-height: 150%;
  button {
    background: $light;
    transition: 0.3s ease-in;
    &:hover {
      background: $green;
    }
  }
}

.copyright {
  color: $light;
}

.rs-logo {
  width: 120px;
  height: auto;
  filter: invert(99%) sepia(97%) saturate(244%) hue-rotate(357deg) brightness(115%) contrast(93%);
  transition: 0.2s;
  &:hover {
    filter: invert(100%) sepia(31%) saturate(3872%) hue-rotate(24deg) brightness(115%) contrast(84%);
  }
}

@media (max-width: 800px) {
  .container {
    padding: 10px 100px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 10px 50px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 10px 30px;
  }
}

@media (max-width: 420px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
