.footer {
  padding: 15px;
}

.footer-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 20px;
  line-height: 150%;
  color: #111;
}

.rs-logo {
  width: 120px;
  height: auto;
}
