<footer  *ngIf="isShowFooter" id="footer" class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <ul class="gh-list">
        <li><a href="https://github.com/papkovskaya" target="_blank">papkovskaya</a></li>
        <li><a href="https://github.com/daironsib" target="_blank">daironsib</a></li>
        <li><a href="https://github.com/paveltitov16" target="_blank">paveltitov16</a></li>
        <li><a href="https://github.com/annabutkova" target="_blank">annabutkova</a></li>
      </ul>
      <div class="copyright">
        <span>©</span><span>2022</span>
      </div>
      <div class="rs-logo">
        <a href="https://rs.school/" target="_blank">
          <img src="/assets/svg/rs_school_js.svg" alt="Rolling Scopes School">
        </a>
      </div>
    </div>
  </div>
</footer>
