.nav-container {
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
}

.logout-menu {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align: right;
}

.user-name{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.user-email{
    font-size: 14px;
}
