.header-container {
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    background: #F7F6F0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    button:focus {
        background: #E9E9E3;
    }
}

.logout-menu {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align: right;
}

.user-name{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.user-email{
    font-size: 14px;
}

.header-container__logo {
    width: 144px;
    height: 44px;
    background-image: url(/assets/images/logoLang.png);
    background-size: contain;
    background-repeat: no-repeat;
     background-position: center;
}

.user-btn {
    background: #24282C;
    color: #E9E9E3;
}

.user-icon {
    color: #D3F36B;
}