<nav class="nav-container">
    <div class="nav-container__btns">
        <button mat-stroked-button [routerLink]="[paths.Home]" color="primary">Home</button>
        <button mat-stroked-button [routerLink]="['/', paths.Dictionary]" color="primary">Dictionary</button>
        <button mat-stroked-button [routerLink]="['/', paths.Games]" color="primary">Games</button>
        <button mat-stroked-button [routerLink]="['/', paths.Statistic]" color="primary">Statistic</button>
    </div>
    <div *ngIf="tokenStorageService.getToken(); else login">
        <div class="logout-menu">
            <div class="user-info">
                <span class="user-name">{{ tokenStorageService.getUser() }}</span>
                <span class="user-email">email@mail.com</span>
            </div>
            <button mat-fab color="primary" (click)="tokenStorageService.signOut()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </div>
    <ng-template #login>
        <button mat-fab [routerLink]="['/', paths.Login]" color="primary">
            <mat-icon>person icon</mat-icon>
        </button>
    </ng-template>
</nav>