.register-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.register-container__title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
}

.register-container__line {
    width: 261px;
    border: none;
    background-color: rgba(13, 96, 111, 0.5);
    height:1px;
}

.register-container__button {
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.login-container__account {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}