@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #F7F6F0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  .form-label,
  .form-input {
    margin-bottom: 15px;
  }

  .form-label {
    font-weight: bold;
  }

  .form-input {
    height: 20px;
    padding: 0 10px;
  }
}

.alert {
  &.alert-danger {
    color: red;
  }

  &.alert-success {
    color: green;
  }
}

.mt20 {
  margin-top: 20px;
}
